@font-face {
    font-family: 'recoleta';
    src: url('recoleta-light.otf') format('opentype'),
         url('recoleta-light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $fontFamily;
    background-color: $blue;
    color: $black;

    a {
        color: $black;
        display: block;
        position: relative;
        text-decoration: none;
        width: fit-content;

        @include breakFirst($screen-sm) {
            position: relative;
            overflow: hidden;
            
    
            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 0;
                height: 2px;
                background-color: $black;
                bottom: 0;
                right: 0;
                margin-top: 2px;
                transition: 0.3s width $cbTrans;
            }

            &:hover {
                color: $black;
                text-decoration: none;
            }
        
            &:hover:before {
                left: 0;
                right: auto;
                width: 100%;
            }
        }
        
        &.cta--text {
            display: flex;
            align-items: center;
            width: auto;
            width: fit-content;

            &::before {
                right: 32px;
            }

            &:hover:before {
                left: 0;
                right: 32px;
            }

            span.arrow {
                position: relative;
                width: 22px;
                height: 15px;
                top: 2px;
                background: url(../img/arrow.svg) no-repeat center center/contain;
                margin-left: 10px;
            }
        }
    }
}

body.modal-open {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serifFontFamily;
    font-weight: 300;
}

p {
    @include font-size(18);
}


figure {
    margin-bottom: 0;
}

.img--cover img {
    object-fit: cover;
}

// Buttons
a.btn, .btn {
    display: flex;
    align-items: center;
    width: auto;
    width: fit-content;
    background-color: $purple;
    @include font-size(18);
    border-radius: 100px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s $cbTrans;
    &:before {
        display: none;
    }

    &:hover {
        background-color: $purple1;
    }

    span:first-child {
        margin-right: 10px;
    }

    span.arrow {
        position: relative;
        width: 22px;
        height: 15px;
        top: 2px;
        background: url(../img/arrow.svg) no-repeat center center/contain;
    }
}

.page-header {
    &__col-center .logo {
        display: block;
        width: 190px;
        height: 50px;
        margin-bottom: -35px;
        background: url(../img/logo.svg) no-repeat center center/contain;
        position: relative;
        z-index: 1;
    }
}


// Page Hero
.page-hero {
    &__inner {
        figure {
            margin-bottom: 0;
        }

        figure picture {
            display: block;
            position: relative;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 60vw;
            background-color: #cccc;

            @include breakFirst($screen-md) {
                padding-bottom: 52.5%;
            }
        }


        figure picture img {
            position: absolute;
            width: 100%;
            height: 100%;

        }
    }
}

// Page Quote
.page-quote {

    .quote-icon {
        width: 80px;
        height: 80px;
        background: url(../img/quote.svg) no-repeat center center/contain;
        position: relative;
        transform: translateY(50px);
        z-index: 0;

        @include breakFirst($screen-md) {
            transform: translateY(70px);
            width: 131px;
            height: 131px;
        }
    }

    .quote-text {
        padding: 0 30px ;
        @include breakFirst($screen-md) {
            padding: 0 60px;
        }
        p {
            display: block;
            font-family: $serifFontFamily;
            width: 100%;
            position: relative;
            @include font-size(30);
            @include breakFirst($screen-md) {
                @include font-size(54);
            }
        }

        span.quote-credit {
            @include font-size(20);
        }
    }
}


.page-cta {

    &__col--text .col__inner {
        @include breakFirst($screen-md) {
            width: 80%;
        }
    }

    &__col--img {
        figure {
            margin-bottom: 0;
        }

        figure picture {
            display: block;
            position: relative;
            width: 100%;
            height: 0;
            overflow: hidden;
            padding-bottom: 100%;
            background-color: #cccc;
        }

        figure picture img {
            position: absolute;
            width: 100%;
            height: 100%;

        }

        &.img--round {
            .img__inner {
                width: 70%;
            }

            figure picture {
                border-radius: 100%;
                padding-bottom: 100%;
                width: auto;
            }
        } 
    }
}

.page-text {
    p {
        max-width: 800px;
        margin: auto;
    }
}

// Page Section
.page-section {
    h2 {
        @include font-size(36);
        @include breakFirst($screen-md) {
            @include font-size(54);
        }
    }

    .content-item {
        margin-bottom: 30px;
        cursor: pointer;

        .content-img {
            figure {
                margin-bottom: 0;
            }
    
            figure picture {
                display: block;
                position: relative;
                width: 100%;
                height: 0;
                overflow: hidden;
                padding-bottom: 56.25%;
                background-color: #cccc;
            }
    
            figure picture img {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.8;
    
            }

            &:hover figure picture img {
                opacity: 1;
                transition: opacity 0.3s $cbTrans;
            }
        }
    }

    .event-list {
        ul {
            list-style: none;
        }

        ul li .list-col .event__date {
            width: 100px;
        }

        ul li .list-col .event__info span:first-child {
            display: block;
            margin-bottom: 5px;
        }
    }
}

.modal-window {
    position: fixed;
    width: 100%;
    height: 100%;
    @include background-opacity($black, 0.9);
    backdrop-filter: blur(20px);
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    
    &.open {
        display: block;
        overflow-y: scroll;
    }

    .close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 35px;
        height: 35px;
        border: 1px solid $white;
        border-radius: 100%;
        cursor: pointer;
        padding: 5px;

        .close-icon {
            position: relative;
            width: 100%;
            height: 100%;
            top: 10px;
            margin: auto;

            &:before,
            &:after {
                display: block;
                content: '';
                width: 22px;
                height: 1px;
                background-color: $white;
                position: relative;
                margin: auto;
            }

            &:before {
                transform: rotate(45deg);
            }

            &:after {
                transform: rotate(-45deg);
            }
        }
    }

    .video-container {
        width: 90%;
        height: 0;
        padding-top: 56.25%;
        overflow: hidden;
        position: absolute;
        top: 90px;
        left: 0;
        right: 0;
        margin: auto;

        @include breakFirst($screen-sm) {
            width: 75%;
            padding-top: 45%;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }

    .about-container .about-info {
        max-width: 800px;
        padding: 0 30px 50% 30px;
        margin: auto;
        position: relative;
        top: 105px;

        p {
            margin-bottom: 60px;
        }

        @include breakFirst($screen-md) {
            padding: 0 60px;
        }
    } 
}

